 <!-- Topbar Start -->
 <div class="container-fluid bg-light pt-3 d-none d-lg-block">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 text-center text-lg-left mb-2 mb-lg-0">
                <div class="d-inline-flex align-items-center">
                    <p><i class="fa-solid fa-user-tie mr-2"></i> BIENVENIDO ADMINISTRADOR</p>
                    <p class="text-body px-3">|</p>
                    <p><a routerLink="/login"><i class="fa-solid fa-power-off mr-2"></i></a> CERRAR SESION</p>
                </div>
            </div>
            <div class="col-lg-6 text-center text-lg-right">
                <div class="d-inline-flex align-items-center">
                    <a class="text-primary px-3" href="">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a class="text-primary px-3" href="">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a class="text-primary px-3" href="">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                    <a class="text-primary px-3" href="">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a class="text-primary pl-3" href="">
                        <i class="fab fa-youtube"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Topbar End -->


<!-- Navbar Start -->
<div class="container-fluid position-relative nav-bar p-0">
    <div class="container-lg position-relative p-0 px-lg-3" style="z-index: 9;">
        <nav class="navbar navbar-expand-lg bg-light navbar-light shadow-lg py-3 py-lg-0 pl-3 pl-lg-5">
            <a routerLink="/inicio" class="navbar-brand">
                <h1 class="m-0 text-primary"><span class="text-dark">FERRETERIA</span>ONLINE</h1>
            </a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between px-3" id="navbarCollapse">
                <div class="navbar-nav ml-auto py-0">
                    <a routerLink="/inicio" class="nav-item nav-link active">Inicio</a>
                    <a routerLink="/body" class="nav-item nav-link">Productos</a>
                    <a routerLink="/carrito" class="nav-item nav-link"><i class="fa-solid fa-cart-shopping"></i> Carrito</a>
                    <a routerLink="/ventas" class="nav-item nav-link">Listado De Ventas</a>
                    <a routerLink="/contacto" class="nav-item nav-link">Contacto</a>
                    
                </div>
            </div>
        </nav>
    </div>
</div>
<!-- Navbar End -->